# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://orqfpomevzswrxgxsamt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ycWZwb21ldnpzd3J4Z3hzYW10Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzMzMzY5MDQsImV4cCI6MjA4ODkxMjkwNH0.0YDcHYfcgiETX82db-rcvMk_BLEU7bjTNLNoPSQ5zhI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9ycWZwb21ldnpzd3J4Z3hzYW10Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzMzNjkwNCwiZXhwIjoyMDg4OTEyOTA0fQ.toNcE5B7iJPdAxQy7pzFAkq0Iw_sebPrMNilfvm781A

# GitHub
GITHUB_TOKEN=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

# Cron Security
CRON_SECRET=xExsBdhrve44u526C42j5nTvUbRrkovK

# Site
NEXT_PUBLIC_SITE_URL=https://aitrendintel.com
